.lmsRowHeader{
    font-family: 'gothanRounded-bold';
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 4px solid #ddd;
  }
  .lmsRowContent{
    font-family: 'gothanRounded-book';
    font-size: 16px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    align-items: center;
  }
  .leaveInfo button{
    padding: 2px 11px;
    background-color: #613e95;
    color: #fff;
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    font-family: "gothanRounded-book";
  }
  .leaveInfo .row{
      margin-left: 0px;
      margin-right: 0px;
  }
  .leaveInfo .lmsRowContent{
    font-size: 14px;
    padding: 13px 0;
  }

  .cancelBadge {
    position: absolute;
    top: -31px;
    left: 676px;
  }

  .cancel {
    position: relative;
  }

  .buttonClass {
    margin: 0 auto;
  }

:host /deep/ #smartTable tr, #smartTable th {
background-color: whitesmoke;
/* font-style: italic; */
text-align:center;
border: 1px solid black;
width: 100%;
height: 50px;
}

.footerRow {
    position: fixed;
    left: 0; 
    bottom: 0;
    width: 100%;
    height: 35px;
    background: #613e95;
    color:#fff;
    text-align: right;
    display: block;
    z-index: 0;
    padding: 5px 25px 0 0;
}
  