 <!-- <div >
  <header class="header">
    <img src="../assets/hashworkslogo.svg" class="menu" />
  
  </header>
</div>

<div class="container" >



  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="loginHeading">
        <h3>Welcome to Leave Management</h3>
      </div>
      <div class="loginOuter">
        <form>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="name">

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password">
          <button type="submit" class="buttonClass" (click)="login()">Login</button>

        </form>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  

</div>  -->