  <div  id="login1" *ngIf="!userAvailable">
     <header class="header"> 
    <img src="../assets/hashworkslogo.svg" class="menu"/>
    <!-- <span class="lms-heading">Leave Management System</span> -->
   
  </header>
  </div>
  

<div class="container" id="login" *ngIf="!userAvailable" >

    

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="loginHeading"><h3>Welcome to Leave Management System</h3></div>
        <div class="loginOuter">
          <form>
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="name">
 
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="password">  
            <button type="submit" class="buttonClass" (click)="login()">Login</button>
            <!-- <label for="forgotPassword"> -->
              <!-- <p>
                <a  (click)="forgotPassword(name)">FORGOT PASSWORD</a>
              </p> -->
              
            <!-- </label> -->
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
 
  </div>


  <div id="logout" *ngIf="userAvailable">

  <header class="header"> 
    <img src="../assets/hashworkslogo.svg" class="menu"/>
    <span class="lms-heading">Leave Management System</span>
    <span class="rightSpan">
      <button data-toggle="modal" data-target="#myModalFB">FeedBack</button>
    <i class="fa fa-user"></i>
      <span class="userName">Welcome {{userName}}</span>
      <button (click)="logout()" class="buttonClass logout">Log out</button>
    </span>
  </header>
  
  <div class="app__all">
    <div>
    <div class="sidebar" id="sidebar">
      <ul class="menuList">
        <li *ngIf="rolename=='admin'"><a class="menuList__tabs" routerLink="/configuration" routerLinkActive="active">
          <div><i class="fa fa-cog"></i><h3 class="menuList__tabs--title">Configuration</h3></div>
        </a></li>
           <li *ngIf="rolename=='admin'"><a class="menuList__tabs" routerLink="/leaveReport" routerLinkActive="active">
          <div><i class="fa fa-cog"></i><h3 class="menuList__tabs--title">Leave Report</h3></div>
        </a></li>  
        <li><a class="menuList__tabs" routerLink="/leaveApplication" routerLinkActive="active">
          <div> <i class="fa fa-sign-out"></i><h3 class="menuList__tabs--title">My Leaves</h3></div>
        </a></li>
        <li *ngIf="rolename=='manager'"><a class="menuList__tabs" routerLink="/leave" routerLinkActive="active" >
          <div> <i class="fa fa-th-list"></i><h3 class="menuList__tabs--title">Employee Leaves</h3></div>
        </a></li>
      </ul> 
    </div>
    </div>
    <div class="main-content" id="main-content"><router-outlet></router-outlet>
     <ng4-loading-spinner> </ng4-loading-spinner>
    </div>
  </div>
  <div class="modal fade" id="myModalFB" role="dialog">
	      <div class="modal-dialog">
	
	
	        <div class="modal-content">
	          <div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal" #closeBtn1>&times;</button>
	            <h4 class="modal-title">FeedBack</h4>
	          </div>
	          <div class="modal-body">
	            <div class="row">
	              <div class="col-md-3">
	                <span>Comments</span>
	              </div>
	              <div class="col-md-9">
	                <textarea class="FBAllign" type="text" name="comments" [(ngModel)]="feedbackCm"></textarea>
	              </div>
	              <div class="FBBtn">
	                <input type="button"  value="Submit" #submitButtonFB class="buttonClass" (click)="feedback()" />
	              </div>
	            </div>
	
	          </div>
	        </div>
	
      </div>
</div>
</div>

  
	
	
	
 
